p {
    color: gray
}

body {
    background-color: #6C4646;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}


/* Nieodwiedzony link */

a:link {
    color: red;
}


/* Odwiedzony link */

a:visited {
    color: yellow;
}


/* Link po najechaniu kursorem */

a:hover {
    color: blue;
}
