p {
    color: white;
    text-align: center;
    font-size: 32px;
    line-height: 48px;
}

body {
    background-color: #6C4646;
    width: 80%;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

h1 {
    text-align: center;
    font-size: 64px;
}

h2 {
    text-align: center;
    font-size: 46px;
}


/* Nieodwiedzony link */

a:link {
    color: red;
}


/* Odwiedzony link */

a:visited {
    color: yellow;
}


/* Link po najechaniu kursorem */

a:hover {
    color: blue;
}

li {
    text-align: center;
    font-size: 32px;
}

.p {
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(20, 67, 73)
}
